/* === Plot format === */
.vis-container{
	width: 100%;
}

canvas{
	border-radius: 15px;
}

#viz1{
	margin-left: 100px;
	margin-bottom: 20px;
}

#viz2{
	margin-left: 200px;
	margin-bottom: 20px;
}

#viz3{
	margin-left: 200px;
	margin-bottom: 20px;
}